<a href="https://colab.research.google.com/github/harsha1067/ASSIGNMENTS/blob/main/(DS)Programming_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Requirements**
1. When you work on this assignment, you should make a copy of this notebook in Google Colab. This can be done using the option `File > Save a copy in Drive` in Google Colab.

2. You should fill in your answer for each task inside the code block right under the task.

3. You should only insert your code into the designated code blocks, as mentioned above. Other than that, you shouldn't change anything else in the notebook, unless otherwise instructed.

4.  For each code block, you are free to use multiple lines of code.

5.   Even if you can only partially solve a task, you should include your code in the code block, which allows us to consider partial credit.

6.   However, your code should not raise errors. Any code raising errors will not get partial credit.

7.   We will test your code in Google Colab. Make sure your code runs in Google Colab.

10. To submit your assignment, download your Colab into a .ipynb file. This can be done using the option `Download > Download .ipynb` in Google Colab.

11. Submit the downloaded .ipynb file into the Programming Assignment 3 entry in Canvas.

## **Task1: Pandas:DataFrame**(60)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# DATA URL SOURCES ###############################
eng_url     = 'https://andybek.com/pandas-eng'
state_url   = 'https://andybek.com/pandas-state'
party_url   = 'https://andybek.com/pandas-party'
liberal_url = 'https://andybek.com/pandas-liberal'
ivies_url   = 'https://andybek.com/pandas-ivies'
##################################################

In [ ]:
#Create 5 dataframes(eng,state,party,liberal,ivies) from the 5 csv files uploaded above.
eng_df = pd.read_csv(eng_url)
state_df = pd.read_csv(state_url)
party_df = pd.read_csv(party_url)
liberal_df = pd.read_csv(liberal_url)
ivies_df = pd.read_csv(ivies_url)

In [ ]:
#Use a function to retreive information on the first 10 rows of your dataframe.
def get_first_10_rows(dataframe):
  print(dataframe.head(10))

get_first_10_rows(eng_df)
get_first_10_rows(state_df)
get_first_10_rows(party_df)
get_first_10_rows(liberal_df)
get_first_10_rows(ivies_df)

                                    School Name  School Type  \
0   Massachusetts Institute of Technology (MIT)  Engineering
1      California Institute of Technology (CIT)  Engineering
2                           Harvey Mudd College  Engineering
3  Polytechnic University of New York, Brooklyn  Engineering
4                                  Cooper Union  Engineering
5         Worcester Polytechnic Institute (WPI)  Engineering
6              Carnegie Mellon University (CMU)  Engineering
7        Rensselaer Polytechnic Institute (RPI)  Engineering
8               Georgia Institute of Technology  Engineering
9                      Colorado School of Mines  Engineering

  Starting Median Salary Mid-Career Median Salary
0            $72,200.00              $126,000.00
1            $75,500.00              $123,000.00
2            $71,800.00              $122,000.00
3            $62,400.00              $114,000.00
4            $62,200.00              $114,000.00
5            $61,000.00              $114,000.00
6            $61,800.00              $111,000.00
7            $61,100.00              $110,000.00
8            $58,300.00              $106,000.00
9            $58,100.00              $106,000.00
                                         School Name School Type  \
0                 University of California, Berkeley       State
1                       University of Virginia (UVA)       State
2                           Cal Poly San Luis Obispo       State
3     University of California at Los Angeles (UCLA)       State
4         University of California, San Diego (UCSD)       State
5                    University of California, Davis       State
6             University of Colorado - Boulder (UCB)       State
7             University of California, Irvine (UCI)       State
8  University of Illinois at Urbana-Champaign (UIUC)       State
9                               Texas A&M University       State

  Starting Median Salary Mid-Career Median Salary
0            $59,900.00              $112,000.00
1            $52,700.00              $103,000.00
2            $57,200.00              $101,000.00
3            $52,600.00              $101,000.00
4            $51,100.00              $101,000.00
5            $52,300.00               $99,600.00
6            $47,100.00               $97,600.00
7            $48,300.00               $96,700.00
8            $52,900.00               $96,100.00
9            $49,700.00               $96,100.00
                                         School Name School Type  \
0  University of Illinois at Urbana-Champaign (UIUC)       Party
1               University of Maryland, College Park       Party
2     University of California, Santa Barbara (UCSB)       Party
3                  University of Texas (UT) - Austin       Party
4      State University of New York (SUNY) at Albany       Party
5                         University of Florida (UF)       Party
6                   Louisiana State University (LSU)       Party
7                        University of Georgia (UGA)       Party
8                Pennsylvania State University (PSU)       Party
9                     Arizona State University (ASU)       Party

  Starting Median Salary Mid-Career Median Salary
0            $52,900.00               $96,100.00
1            $52,000.00               $95,000.00
2            $50,500.00               $95,000.00
3            $49,700.00               $93,900.00
4            $44,500.00               $92,200.00
5            $47,100.00               $87,900.00
6            $46,900.00               $87,800.00
7            $44,100.00               $86,000.00
8            $49,900.00               $85,700.00
9            $47,400.00               $84,100.00
                     School Name   School Type Starting Median Salary  \
0            Bucknell University  Liberal Arts            $54,100.00
1             Colgate University  Liberal Arts            $52,800.00
2                Amherst College  Liberal Arts            $54,500.00
3              Lafayette College  Liberal Arts            $53,900.00
4                Bowdoin College  Liberal Arts            $48,100.00
5      College of the Holy Cross  Liberal Arts            $50,200.00
6             Occidental College  Liberal Arts            $51,900.00
7  Washington and Lee University  Liberal Arts            $53,600.00
8             Swarthmore College  Liberal Arts            $49,700.00
9               Davidson College  Liberal Arts            $46,100.00

  Mid-Career Median Salary
0             $110,000.00
1             $108,000.00
2             $107,000.00
3             $107,000.00
4             $107,000.00
5             $106,000.00
6             $105,000.00
7             $104,000.00
8             $104,000.00
9             $104,000.00
                  School Name School Type Starting Median Salary  \
0           Dartmouth College  Ivy League            $58,000.00
1        Princeton University  Ivy League            $66,500.00
2             Yale University  Ivy League            $59,100.00
3          Harvard University  Ivy League            $63,400.00
4  University of Pennsylvania  Ivy League            $60,900.00
5          Cornell University  Ivy League            $60,300.00
6            Brown University  Ivy League            $56,200.00
7         Columbia University  Ivy League            $59,400.00

  Mid-Career Median Salary
0             $134,000.00
1             $131,000.00
2             $126,000.00
3             $124,000.00
4             $120,000.00
5             $110,000.00
6             $109,000.00
7             $107,000.00

In [ ]:
#Concatenate eng and ivies using the Pandas concatination function and give the shape of your dataframes
concatenate_eng_ivies = pd.concat([eng_df, ivies_df])
print(f"Shape of the dataframe: {concatenate_eng_ivies.shape}")

Shape of the dataframe: (27, 4)

In [ ]:
#Concatenate the 5 dataframes and drop the duplicated values of 'School Name' in your output dataframe called schools
concatenate_df = pd.concat([eng_df, state_df, party_df, liberal_df, ivies_df])
School_Name = concatenate_df.drop_duplicates(subset = "School Name")
print(f"Shape of the 'schools' dataframe: {School_Name.shape}")

Shape of the 'schools' dataframe: (249, 4)

In [ ]:
#Check if the index in schools is diplicated or not
index_duplicates = School_Name.index.duplicated().any()
print(f"Are there any duplicate indicies in the 'schools' dataframe? {index_duplicates}")

Are there any duplicate indicies in the 'schools' dataframe? True

In [ ]:
# Does schools.loc[0:2] works? and why?
School_Name.loc[0:2]

KeyError: ignored

The above will work. 0:2 means "from index 0 to 2 which is inclusive.
The '.loc[]' index is label-based, so it includes the specified end label ('2' in this case).

In [ ]:
#Explain how to fix the duplicated index problem.
School_Name = School_Name.reset_index(drop = True)

To deal with a duplicated index, the duplicate index should be identified in the dataset. Then, it can be done either removing the duplicate entries or update them with unique values.

In [ ]:
# Create eng2 and ivies2 from eng and ivies where the index is Set to 'School Name'.
eng2 = eng_df.set_index('School Name')
ivies2 = ivies_df.set_index('School Name')

In [ ]:
#Concatenate eng and ivies by using the multi-index in order to remove the duplicated index issue.
concatenate_multi_index = pd.concat([eng_df, ivies_df], keys = ['eng', 'ivies'])
concatenate_multi_index

                                                School Name  School Type  \
eng   0         Massachusetts Institute of Technology (MIT)  Engineering
      1            California Institute of Technology (CIT)  Engineering
      2                                 Harvey Mudd College  Engineering
      3        Polytechnic University of New York, Brooklyn  Engineering
      4                                        Cooper Union  Engineering
      5               Worcester Polytechnic Institute (WPI)  Engineering
      6                    Carnegie Mellon University (CMU)  Engineering
      7              Rensselaer Polytechnic Institute (RPI)  Engineering
      8                     Georgia Institute of Technology  Engineering
      9                            Colorado School of Mines  Engineering
      10                    Stevens Institute of Technology  Engineering
      11             Illinois Institute of Technology (IIT)  Engineering
      12                  Wentworth Institute of Technology  Engineering
      13  Virginia Polytechnic Institute and State Unive...  Engineering
      14          South Dakota School of Mines & Technology  Engineering
      15  New Mexico Institute of Mining and Technology ...  Engineering
      16            Rochester Institute of Technology (RIT)  Engineering
      17        Embry-Riddle Aeronautical University (ERAU)  Engineering
      18                 Tennessee Technological University  Engineering
ivies 0                                   Dartmouth College   Ivy League
      1                                Princeton University   Ivy League
      2                                     Yale University   Ivy League
      3                                  Harvard University   Ivy League
      4                          University of Pennsylvania   Ivy League
      5                                  Cornell University   Ivy League
      6                                    Brown University   Ivy League
      7                                 Columbia University   Ivy League

         Starting Median Salary Mid-Career Median Salary
eng   0             $72,200.00              $126,000.00
      1             $75,500.00              $123,000.00
      2             $71,800.00              $122,000.00
      3             $62,400.00              $114,000.00
      4             $62,200.00              $114,000.00
      5             $61,000.00              $114,000.00
      6             $61,800.00              $111,000.00
      7             $61,100.00              $110,000.00
      8             $58,300.00              $106,000.00
      9             $58,100.00              $106,000.00
      10            $60,600.00              $105,000.00
      11            $56,000.00               $97,800.00
      12            $53,000.00               $96,700.00
      13            $53,500.00               $95,400.00
      14            $55,800.00               $93,400.00
      15            $51,000.00               $93,400.00
      16            $48,900.00               $84,600.00
      17            $52,700.00               $80,700.00
      18            $46,200.00               $80,000.00
ivies 0             $58,000.00              $134,000.00
      1             $66,500.00              $131,000.00
      2             $59,100.00              $126,000.00
      3             $63,400.00              $124,000.00
      4             $60,900.00              $120,000.00
      5             $60,300.00              $110,000.00
      6             $56,200.00              $109,000.00
      7             $59,400.00              $107,000.00

In [ ]:
#Use the append function to concatenate 'liberal' and 'party' dataframes
import warnings
warnings.filterwarnings('ignore')
concatenate_liberal_party = liberal_df.append(party_df)
concatenate_liberal_party

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Bucknell University,Liberal Arts,"$54,100.00","$110,000.00"
1,Colgate University,Liberal Arts,"$52,800.00","$108,000.00"
2,Amherst College,Liberal Arts,"$54,500.00","$107,000.00"
3,Lafayette College,Liberal Arts,"$53,900.00","$107,000.00"
4,Bowdoin College,Liberal Arts,"$48,100.00","$107,000.00"
...,...,...,...,...
15,University of New Hampshire (UNH),Party,"$41,800.00","$78,300.00"
16,West Virginia University (WVU),Party,"$43,100.00","$78,100.00"
17,University of Tennessee,Party,"$43,800.00","$74,600.00"
18,Ohio University,Party,"$42,200.00","$73,400.00"
19,Florida State University (FSU),Party,"$42,100.00","$73,000.00"

In [ ]:
regions_url = 'https://andybek.com/pandas-regions'

In [ ]:
# Create the dataframe 'regions'
regions_df = pd.read_csv(regions_url)
regions_df

                                      School Name        Region
0     Massachusetts Institute of Technology (MIT)  Northeastern
1        California Institute of Technology (CIT)    California
2                             Harvey Mudd College    California
3    Polytechnic University of New York, Brooklyn  Northeastern
4                                    Cooper Union  Northeastern
..                                            ...           ...
264                  Austin Peay State University      Southern
265                    Pittsburg State University    Midwestern
266                      Southern Utah University       Western
267           Montana State University - Billings       Western
268                  Black Hills State University    Midwestern

[269 rows x 2 columns]

In [ ]:
# Merge the 2 dataframes schools and regions
merge_sch_reg = pd.merge(School_Name, regions_df, on = 'School Name', how = 'inner')
merge_sch_reg.head()

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Region
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00",Northeastern
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",California
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",California
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00",Northeastern
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",Northeastern

In [ ]:
# Merge schools and regions on the column name 'School Name'
merge_column = pd.merge(School_Name, merge_sch_reg, on = 'School Name')
merge_column.head(11)

,School Name,School Type_x,Starting Median Salary_x,Mid-Career Median Salary_x,School Type_y,Starting Median Salary_y,Mid-Career Median Salary_y,Region
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00",Engineering,"$72,200.00","$126,000.00",Northeastern
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",Engineering,"$75,500.00","$123,000.00",California
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",Engineering,"$71,800.00","$122,000.00",California
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00",Engineering,"$62,400.00","$114,000.00",Northeastern
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",Engineering,"$62,200.00","$114,000.00",Northeastern
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00",Engineering,"$61,000.00","$114,000.00",Northeastern
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00",Engineering,"$61,800.00","$111,000.00",Northeastern
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00",Engineering,"$61,100.00","$110,000.00",Northeastern
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00",Engineering,"$58,300.00","$106,000.00",Southern
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00",Engineering,"$58,100.00","$106,000.00",Western
10,Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00",Engineering,"$60,600.00","$105,000.00",Northeastern

In [ ]:
income_url = 'https://andybek.com/pandas-mid'

In [ ]:
#Create Dataframe (mid_career) from the file income
mid_career = pd.read_csv(income_url)
mid_career.head(11)

,school_name,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),"$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,NaN,"$80,200.00","$142,000.00",NaN
5,Worcester Polytechnic Institute (WPI),"$80,000.00","$91,200.00","$137,000.00","$180,000.00"
6,Carnegie Mellon University (CMU),"$63,300.00","$80,100.00","$150,000.00","$209,000.00"
7,Rensselaer Polytechnic Institute (RPI),"$71,600.00","$85,500.00","$140,000.00","$182,000.00"
8,Georgia Institute of Technology,"$67,200.00","$85,200.00","$137,000.00","$183,000.00"
9,Colorado School of Mines,"$62,200.00","$87,900.00","$142,000.00","$201,000.00"
10,Stevens Institute of Technology,"$68,700.00","$81,900.00","$138,000.00","$185,000.00"

In [ ]:
# Merge mid_career and schools on the arguments left_on and right_on and drop the duplicated column.
merge_mid_sch = pd.merge(mid_career, School_Name, left_on = 'school_name', right_on = "School Name")
merge_mid_sch.drop(columns = 'School Name')  #Drop the duplicated column
merge_mid_sch.head(11)

,school_name,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),"$76,800.00","$99,200.00","$168,000.00","$220,000.00",Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),NaN,"$104,000.00","$161,000.00",NaN,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,NaN,"$96,000.00","$180,000.00",NaN,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00"
3,"Polytechnic University of New York, Brooklyn","$66,800.00","$94,300.00","$143,000.00","$190,000.00","Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00"
4,Cooper Union,NaN,"$80,200.00","$142,000.00",NaN,Cooper Union,Engineering,"$62,200.00","$114,000.00"
5,Worcester Polytechnic Institute (WPI),"$80,000.00","$91,200.00","$137,000.00","$180,000.00",Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00"
6,Carnegie Mellon University (CMU),"$63,300.00","$80,100.00","$150,000.00","$209,000.00",Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00"
7,Rensselaer Polytechnic Institute (RPI),"$71,600.00","$85,500.00","$140,000.00","$182,000.00",Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00"
8,Georgia Institute of Technology,"$67,200.00","$85,200.00","$137,000.00","$183,000.00",Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00"
9,Colorado School of Mines,"$62,200.00","$87,900.00","$142,000.00","$201,000.00",Colorado School of Mines,Engineering,"$58,100.00","$106,000.00"
10,Stevens Institute of Technology,"$68,700.00","$81,900.00","$138,000.00","$185,000.00",Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00"

Q1: Concatenate the *liberal* and *state* schools into a new dataframe. How many unique school names are there?

In [ ]:
#Q1:Code
concat_liberal_state = pd.concat([liberal_df, state_df])
unique_schools = concat_liberal_state['School Name'].nunique()
print("\nNumber of Unique school Names:", unique_schools)

Number of Unique school Names: 222

Q2: What is the average median starting salary in the dataframe created above?

In [ ]:
#Q2:Code
concat_liberal_state['Starting Median Salary'] = concat_liberal_state['Starting Median Salary'].replace('[\$, ]', '', regex=True).astype(float)
average_starting_salary = concat_liberal_state['Starting Median Salary'].mean()
print("Average Median Starting Salary:", round(average_starting_salary, 2))

Average Median Starting Salary: 44469.37

Q3: Create a short dataframe that shows the top 3 *liberal* arts and *state* schools that produce the highest (mid-career) earning graduates.

Show the *School Name* and *Mid-Career Median Salary* columns from each dataset, side by side, i.e. <ins>horizontally</ins>.

Nest the column labels within 'Liberal Arts' and 'State' labels.

In [ ]:
#Q3:Code
liberal_df['Mid-Career Median Salary'] = liberal_df['Mid-Career Median Salary'].replace('[\$,]', '', regex=True).astype(float)
state_df['Mid-Career Median Salary'] = state_df['Mid-Career Median Salary'].replace('[\$,]', '', regex=True).astype(float)

top_arts = liberal_df.nlargest(3, 'Mid-Career Median Salary')[['School Name', 'Mid-Career Median Salary']]
top_schools = state_df.nlargest(3, 'Mid-Career Median Salary')[['School Name', 'Mid-Career Median Salary']]

top_arts_col = ['School Name (Liberal Arts)', 'Mid-Career Median Salary (Liberal Arts)']
top_state_col = ['School Name (State)', 'Mid-Career Median Salary']

top_3 = pd.concat([top_arts, top_schools], axis = 1)
top_3

,School Name,Mid-Career Median Salary,School Name,Mid-Career Median Salary
0,Bucknell University,110000.0,"University of California, Berkeley",112000.0
1,Colgate University,108000.0,University of Virginia (UVA),103000.0
2,Amherst College,107000.0,Cal Poly San Luis Obispo,101000.0

Q4: Merge *liberal* arts schools with *regions* and assign the resulting dataframe to *dfm*. What region has the highest number of liberal arts schools?

In [ ]:
#Q4:Code
dfm = pd.merge(liberal_df, regions_df, on = 'School Name', how = 'left')    #Merging liberal arts schools with regions

region_with_highest_count = dfm['Region'].value_counts().idxmax()         #To Find the region with the highest number of liberal arts schools

print("Region with the Highest Number of Liberal Arts Schools:", region_with_highest_count)

Region with the Highest Number of Liberal Arts Schools: Northeastern

Q5: Set *school_name* as the index of the *mid_career* dataframe. Do the operation inplace.

In [ ]:
#Q5:Code
mid_career.set_index('school_name', inplace = True)

Q6: Merge the *dfm* and *mid_career* dataframes. Is the join operation one-to-one?

In [ ]:
#Q6:Code
merge_dfm_mid = pd.merge(dfm, mid_career, left_on = 'School Name', right_index = True)
one_to_one = merge_dfm_mid['School Name'].is_unique
print("Is join operation one-to-one?", one_to_one)

Is join operation one-to-one? False

Create dataframe games

In [ ]:
#Dataframe creation
games_url = 'https://andybek.com/pandas-games'

In [ ]:
games_df = pd.read_csv(games_url)
games_df.head(11)

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
1,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
2,Grand Theft Auto V,X360,2013.0,Action,Take-Two Interactive,9.63,5.31,0.06,1.38,16.38
3,Call of Duty: Modern Warfare 3,X360,2011.0,Shooter,Activision,9.03,4.28,0.13,1.32,14.76
4,Call of Duty: Black Ops,X360,2010.0,Shooter,Activision,9.67,3.73,0.11,1.13,14.64
5,Call of Duty: Black Ops 3,PS4,2015.0,Shooter,Activision,5.77,5.81,0.35,2.31,14.24
6,Call of Duty: Black Ops II,PS3,2012.0,Shooter,Activision,4.99,5.88,0.65,2.52,14.03
7,Call of Duty: Black Ops II,X360,2012.0,Shooter,Activision,8.25,4.30,0.07,1.12,13.73
8,Call of Duty: Modern Warfare 2,X360,2009.0,Shooter,Activision,8.52,3.63,0.08,1.29,13.51
9,Call of Duty: Modern Warfare 3,PS3,2011.0,Shooter,Activision,5.54,5.82,0.49,1.62,13.46
10,Call of Duty: Black Ops,PS3,2010.0,Shooter,Activision,5.98,4.44,0.48,1.83,12.73

Q7: What are the total sales across all regions?

In [ ]:
#Q7-Code
total_sales = games_df['Global_Sales'].sum()
print(f"Total sales of all regions: {total_sales}")

Total sales of all regions: 2356.96

 Q8: Find the total sales by region for X360 and PS3.

In [ ]:
#8-Code
filtered_games = games_df[games_df['Platform'].isin(['X360', 'PS3'])]    # Filter the dataframe for 'X360' and 'PS3' platforms

total_sales_by_reg = filtered_games.groupby('Platform')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].sum()      # Calculate total sales by region
print("Total sales by region for X360 and PS3:")
total_sales_by_reg

Total sales by region for X360 and PS3:

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3         392.26    343.71     79.99       141.93        957.84
X360        601.05    280.58     12.43        85.54        979.96

Q9: How much does each platform sell across regions, on average?

In [ ]:
#Q9-Code
average_sales = games_df.groupby('Platform')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].mean()     # Calculating average sales for each platform across regions

# Display the result
print("Average Sales by Platform Across Regions:")
average_sales

Average Sales by Platform Across Regions:

          NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
PS3       0.295154  0.258623  0.060188     0.106795      0.720722
PS4       0.288095  0.368155  0.042560     0.129048      0.827679
X360      0.475138  0.221802  0.009826     0.067621      0.774672
XOne      0.390563  0.214319  0.001596     0.055962      0.662254

Q10: Create a smaller dataframe from *games*, selecting only the Publisher, Genre, Platform, and NA_Sales columns. Assign this dataframe to the variable *publishers*.

In [ ]:
#Q10-Code
publishers = games_df[['Publisher', 'Genre', 'Platform', 'NA_Sales']]
publishers.head(11)

                 Publisher    Genre Platform  NA_Sales
0   Microsoft Game Studios     Misc     X360     14.97
1     Take-Two Interactive   Action      PS3      7.01
2     Take-Two Interactive   Action     X360      9.63
3               Activision  Shooter     X360      9.03
4               Activision  Shooter     X360      9.67
5               Activision  Shooter      PS4      5.77
6               Activision  Shooter      PS3      4.99
7               Activision  Shooter     X360      8.25
8               Activision  Shooter     X360      8.52
9               Activision  Shooter      PS3      5.54
10              Activision  Shooter      PS3      5.98

Q11: From the *publishers* dataframe, find the top 10 game publishers in North America by total sales.

In [ ]:
#Q11-Code
top_publishers_NA = publishers.groupby('Publisher')['NA_Sales'].sum()     #Group by 'Publisher' and calculate total sales in North America

top_10 = top_publishers_NA.sort_values(ascending=False).head(10)       #Sorting in descending order and get the top 10 publishers

print("Top 10 Game Publishers in North America by Total Sales:")
print(top_10)

Top 10 Game Publishers in North America by Total Sales:
Publisher
Electronic Arts                           213.38
Activision                                193.16
Take-Two Interactive                      120.99
Microsoft Game Studios                    116.77
Ubisoft                                    98.65
Sony Computer Entertainment                76.35
Warner Bros. Interactive Entertainment     45.24
THQ                                        36.44
Bethesda Softworks                         33.88
Capcom                                     24.74
Name: NA_Sales, dtype: float64

Q12: What is the gaming platform that has attracted the most sales in North America?

In [ ]:
#Q12:Code
platform_NA = publishers.groupby('Platform')['NA_Sales'].sum()      #Group by 'Platform' and calculate total sales in North America

# Find the platform with the most sales in North America
most_sales = platform_NA.idxmax()

# Display the result
print("Gaming Platform with the Most Sales in North America:", most_sales)

Gaming Platform with the Most Sales in North America: X360

In [ ]:
#Create Dataframe sat
sat_url = 'https://andybek.com/pandas-sat'

sat = pd.read_csv(sat_url)
sat

,School Name,Borough,Student Enrollment,Percent Tested,SAT Section,Score
0,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Math,459
1,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Reading,453
2,A. Philip Randolph Campus High School,Manhattan,1354,74.00%,Writing,447
3,Abraham Lincoln High School,Brooklyn,2341,54.90%,Math,441
4,Abraham Lincoln High School,Brooklyn,2341,54.90%,Reading,422
...,...,...,...,...,...,...
1120,Young Women's Leadership School in Astoria,Queens,572,100.00%,Reading,464
1121,Young Women's Leadership School in Astoria,Queens,572,100.00%,Writing,477
1122,Young Women's Leadership School in Queens,Queens,557,90.40%,Math,415
1123,Young Women's Leadership School in Queens,Queens,557,90.40%,Reading,420
1124,Young Women's Leadership School in Queens,Queens,557,90.40%,Writing,433

Q13: Starting with our main dataframe (*sat*), create a pivot table that summarizes the <ins>total</ins> student enrollment (Student Enrollment) across all 5 boroughs (*Borough*).

Which boroughs have the highest and lowest high school student bodies?

In [ ]:
#Q13
pivot_table_ent = sat.pivot_table(values = 'Student Enrollment', index = 'Borough', aggfunc = 'sum')       #Pivot table to summarize total student enrollment across all 5 boroughs

highest_enrollment_borough = pivot_table_ent.idxmax()
lowest_enrollment_borough = pivot_table_ent.idxmin()

print(f"Borough with the Highest Total Student Enrollment: {highest_enrollment_borough}")
print(f"Borough with the Lowest Total Student Enrollment: {lowest_enrollment_borough}")

Borough with the Highest Total Student Enrollment: Student Enrollment    Brooklyn
dtype: object
Borough with the Lowest Total Student Enrollment: Student Enrollment    Staten Island
dtype: object

Q14: Modify the pivot table from the step above to also reflect the average student body size (*Student Enrollment*) across boroughs, in the same pivot table.

In [ ]:
#Q14
pivot_table_ent = sat.groupby('Borough')['Student Enrollment'].agg(['sum', 'mean'])          #Pivot table to summarize total and average student enrollment across all 5 boroughs
pivot_table_ent.columns = ['Total Student Enrollment', 'Average Student Enrollment']
print("Modified Pivot Table - Total and Average Student Enrollment by Borough:")
print(pivot_table_ent)

Modified Pivot Table - Total and Average Student Enrollment by Borough:
               Total Student Enrollment  Average Student Enrollment
Borough
Bronx                            159267                  541.724490
Brooklyn                         242814                  742.550459
Manhattan                        170370                  638.089888
Queens                           232437                 1122.884058
Staten Island                     55380                 1846.000000

Q15: Create a pivot table of high schools from the Queens borough (*Borough*), containing the SAT section scores (*SAT Section*, *Score*) as columns and the school name (*School Name*) as index. Sort the table in descending order by math section scores.

In [ ]:
#Q15
queens_high_sch = sat[(sat['Borough'] == 'Queens') & (sat['School Name'].notnull())]       #Filter data for high schools in Queens

pivot_table_queens = queens_high_sch.pivot_table(values = 'Score', index = 'School Name', columns = 'SAT Section', aggfunc = 'mean')    #Pivot table with SAT section scores as columns

pivot_table_queens_sorted = pivot_table_queens.sort_values(by='Math', ascending=False)        #Sort the table in order by math section scores

print("Pivot Table of High Schools in Queens with SAT Section Scores:")
print(pivot_table_queens_sorted)

Pivot Table of High Schools in Queens with SAT Section Scores:
SAT Section                                         Math  Reading  Writing
School Name
Queens High School for the Sciences at York Col...   701      621      625
Townsend Harris High School                          680      640      661
Baccalaureate School for Global Education            633      620      628
Bard High School Early College Queens                631      598      610
Scholars' Academy                                    588      560      568
...                                                  ...      ...      ...
Middle College High School at LaGuardia Communi...   377      389      377
Queens High School for Information, Research, a...   372      362      352
August Martin High School                            366      372      364
Rockaway Park High School for Environmental Sus...   357      381      376
Pan American International High School               340      320      318

[69 rows x 3 columns]